<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBn1nlbY1R5Gd3m2uG1PPqfTlDSCbspKUc</string>
	<key>GCM_SENDER_ID</key>
	<string>547113792974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pharghs.app</string>
	<key>PROJECT_ID</key>
	<string>pharos-175a3</string>
	<key>STORAGE_BUCKET</key>
	<string>pharos-175a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547113792974:ios:bafd52dcf222a920a5a79f</string>
</dict>
</plist>